:root {
  --primary-gradient: linear-gradient(135deg, #000000 0%, #1a1a1a 100%);
  --button-gradient: linear-gradient(135deg, #2d3436 0%, #2d3436 100%);
  --display-bg: rgba(255, 255, 255, 0.05);
  --text-color: #ffffff;
  --button-text: #ffffff;
  --operator-color: #0ee8c8;
  --equals-gradient: linear-gradient(135deg, #00ff9d 60%, #00b8ff 100%);
  --shadow: rgba(0, 0, 0, 0.3);
  --button-hover: rgba(40, 40, 40, 1);
}


* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-gradient);
  color: var(--text-color);
}

.container {
  position: relative;
  height: 550px;
  max-width: 350px;
  width: 100%;
  border-radius: 16px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  box-shadow: 0 8px 32px 0 var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display {
  background: var(--display-bg);
  border-radius: 12px;
  padding: 20px;
  font-size: 2rem;
  text-align: right;
  box-shadow: inset 0 4px 8px 0 var(--shadow);
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  background: var(--button-gradient);
  border: none;
  border-radius: 12px;
  padding: 20px;
  font-size: 1.5rem;
  color: var(--button-text);
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: var(--button-hover);
}

button.operator {
  color: var(--operator-color);
}

button.equals {
  background: var(--equals-gradient);
  grid-column: span 2;
}